body {
    width: 100%;
    height: 500px;
    background-image: url("../images/purple_crystal.jpg");
}

.title_box {
    width: 200px;
    height: 80px;
    background-color: rgb(185, 94, 207);
    color: white;
}

#rules {
    color: white;
    width: 400px;
    height: 400px;
}
